.capa-login{
    text-align: center;
    position:relative;
    height: 370px;
    overflow: hidden;
}

.capa-login img{
    max-width:100%;
    position: absolute;
    z-index: -1;
    top:0;
    right: 0;
    left:0;
    height: 100%;
}

.capa-login h3{
    font-size: 30px;
    color: #fff;
    padding-top:240px;  
    margin:0;
}

.capa-login h4{
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
}

.form-container{
    margin: 0 20px 50px 20px
}