.icone-texto-container{
    display: flex;
    align-items: center;
    margin: 20px 20px;
}


.icone-texto-container svg{
    width: 30px;
    margin-right: 20px;
}

.icone-texto-container span{
    font-size: 25px;
}