
.navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    margin:0;
}

.navbar svg{
    width: 30px;
}

.navbar li{
    padding: 35px;
    cursor: pointer;
}

.navbar li.active{
    background-color: #000;
}